$body-background: #242424;
$border-dark: rgba($body-background, 0.88);
$font-color-light: #eee;
$font-color-dark: #242424;
$foreground-color: #36322e;
$border-foreground: rgba($foreground-color, 0.88);
$btn-bgcolor-light: #eee;
$contrast-bg: #eee;